<table>
    <tr> 
        <td style="height: 37px; border: 1px solid #050505; margin:0; padding:0;" colspan="4"></td>
    </tr>
    <tr>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
    </tr> 
    <tr>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
    </tr>
    <tr>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
    </tr>
    <tr>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
    </tr>
    <tr>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 262px; height: 150px; border: 1px solid #050505; margin:0; padding:0;"></td>
        <td style="width: 56px; border: 1px solid #050505; margin:0; padding:0;"></td>
    </tr> 
    <tr>
        <td style="height: 37px; border: 1px solid #050505; margin:0; padding:0;" colspan="4"></td>
    </tr> 
</table>