<html>

<body>
<table>
    <tr> 
        <td class="top" colspan="4"></td>
    </tr>
    <tr>
        <td class="side">A</td>
        <td class="card">B</td>
        <td class="card">C</td>
        <td class="side">D</td>
    </tr> 
    <tr>
        <td class="side">A</td>
        <td class="card">B</td>
        <td class="card">C</td>
        <td class="side">D</td>
    </tr>
    <tr>
        <td class="side">A</td>
        <td class="card">B</td>
        <td class="card">C</td>
        <td class="side">D</td>
    </tr>
    <tr>
        <td class="side">A</td>
        <td class="card">B</td>
        <td class="card">C</td>
        <td class="side">D</td>
    </tr>
    <tr>
        <td class="side">A</td>
        <td class="card">B</td>
        <td class="card">C</td>
        <td class="side">D</td>
    </tr> 
    <tr>
        <td class="bottom" colspan="4"></td>
    </tr> 
</table>
</body>
<head>
<style type="text/css">
    table, td { border: 1px solid #050505; }
    td.card { width: 262px; height: 150px; }
    td.side { width: 56px; }
    td.top, td.bottom { height: 37px }
</style>
</head>
</html>